:root {
  /* Background */
  --color-bg: #f5f2ec;

  /* Colors */
  --color-text: #000000;

  --color-link-bg: #000000;
  --color-link-hover: #e4513a;
  --color-link-active: #8c2f2f;

  --color-h1-bg: #000000;
  --color-h2-bg: #3858a4;
  --color-h3-bg: #e4513a;

  --color-cta1: #f5f2ec;
  --color-cta2: #e4513a;

  /* Font sizes */

  --font-h1-size: 60px;

  --font-h2-size: 45px;

  --font-h3-size: 45px;

  --font-text-size: 14px;

  /* Fonts */

  --font-family-headings: "Montserrat", ui-sans-serif, sans-serif;

  --font-family-text: "Geist", ui-sans-serif, sans-serif;
}
