/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-display: swap;
  color: #111;
  margin-left: 40px;
  font-size: 72px;
}
h2 {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  color: #e4513a;
}

h3 {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  color: #3758a4;
  margin-left: 45px;
  font-size: 15px;
}

p {
  font-family: "geist", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  color: white;
}
/*LOGO*/

.logo img {
  max-height: 60px;
}

/* BODY */

body {
  font-family: "montserrat", sans-serif;
  background-color: #f5f2ec;
  background-image: url(../webp-billeder/Chimaera-bgg.webp);
  background-size: repeat;
  background-position: center;
}

/* LINKS */

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

.site-header {
  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  padding: 30px 40px;

  font-size: 14px;
}

.main-nav {
  display: flex;

  gap: 24px;
}

/* PAGE TITLE */

.page-title {
  padding: 40px;
}

/* GRID */

.products-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 120px 40px;

  padding: 60px 40px 140px;

  max-width: 1500px;

  margin: 0 auto;
}

/* CARD */

.product-card {
  width: 200px;
  display: flex;
  flex-direction: column;
}

/* IMAGE */

.image-wrap img {
  width: 300px;

  height: auto;

  display: block;
}

/* INFO */

.product-info {
  padding-top: 14px;
}

/* CATEGORY */

.category {
  font-size: 10px;

  letter-spacing: 0.08em;

  text-transform: uppercase;

  color: #666;

  margin-bottom: 6px;
}

/* TITLE */

.product-info h2 {
  font-size: 15px;

  font-weight: 400;

  margin-bottom: 4px;
}

/* DATE */

.date {
  font-size: 13px;

  color: #444;
}

/* FOOTER */
.footer-logo img {
  width: 100px;
  height: auto;
}

.site-footer {
  display: flex;

  justify-content: space-between;

  padding: 40px;

  border-top: 1px solid #ddd;

  font-size: 14px;
  background-color: black;
}

.footer-left {
  max-width: 300px;
}

.footer-right {
  display: flex;

  flex-direction: column;

  gap: 10px;

  color: #ddd;
}

.center-img {
  display: flex;

  justify-content: center;

  margin-bottom: 60px;
}

/* MOBILE */

@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: 1fr;

    gap: 60px;

    padding: 20px;
  }

  .product-card:nth-child(2),
  .product-card:nth-child(3) {
    margin-top: 0;
  }

  .site-header,
  .site-footer {
    flex-direction: column;

    gap: 20px;
  }
}
